{% extends 'all_gallery/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
  {% endblock %}

{% block content %}
{{block.super}}

<div class="container">

    <hr class="line">

    <div class="row">

        {% for location in locations  %}

        <button type="button" class="btn btn-outline-success" id="location_btn">{{location.location}}</button>
        
        {% endfor %}

    </div>

    <hr class="line">

    <div class="row text-center">
        {% for image in images %}

        <div class="col-md-3">

                <img src="{{image.photo_image.url}}" alt="image of {image.image_name}" class="img-fluid gallery">
                <p class="text_image">{{image.image_name}}</p>


        </div>

        {% endfor %}


    </div>

</div>


{% endblock %}





